<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="timer" value="3000" />
    <add key="SQLConnectionTimeOut" value="3600" />
    <add key="AdvanceDebug" value="N" />
    <add key="Version" value="1.1" />
    <add key="PublishedBy" value="Thiru" />
    <add key="PublishedOn" value="06-12-2023" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="Log\BPSpecialPriceLog_" />
      <datePattern value="yyyyMMdd'.log'"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>